<a href="https://colab.research.google.com/github/paweenatoei/KKU_data_mining/blob/master/Pandas101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas

In [2]:
from google.colab import drive
drive.mount('/content/drive')

path = '/content/drive/My Drive/DWDM_material'

Mounted at /content/drive

In [3]:
import os

In [4]:
search_click = os.path.join(path,'search_click.csv')
w_restaurant = os.path.join(path,'w_restaurant.csv')

# Then use pandas to load the data into the environment

In [5]:
w_restaurant_df = pandas.read_csv(w_restaurant)
w_restaurant_df.head()

FileNotFoundError: ignored

In [6]:
search_click_df = pandas.read_csv(search_click)

FileNotFoundError: ignored

In [9]:
search_click_df.head()

NameError: ignored

# To chack if the dimension of loaded data is correct as described in the description

In [10]:
search_click_df.shape

NameError: ignored

In [13]:
w_restaurant_df.shape

NameError: ignored

# It seem everything is ok, let,s have fun with data

# 0.Point to data in the table

In [14]:
search_click_df['search_id']

NameError: ignored

In [15]:
search_click_df['search_id'][0]

NameError: ignored

In [16]:
w_restaurant_df[['name','city_name','weighted_average_rating']]

NameError: ignored

# .iloc

In [17]:
search_click_df.iloc[0,1]

NameError: ignored

In [18]:
search_click_df.iloc[:10,:2]

NameError: ignored

# Missing Values

In [20]:
search_click_df.isnull()

NameError: ignored

In [21]:
search_click_df.isnull().any()

NameError: ignored

In [22]:
search_click_df.isnull().any().any()

NameError: ignored

# Handling missing values 1

In [ ]:
search_click_df_nm = search_click_df.dropna()

In [ ]:
search_click_df_nm.isnull().any().any()

In [ ]:
print(search_click_df.shape) 
print(search_click_df_nm.shape)

# Excercise 1 ตรวจสอบว่า การลบข้อมูล missing ออก จากตาราง w_restaurant จะทำให้ข้อมูลลดลงกี่ %

In [ ]:
size_before_drop = w_restaurant_df.shape[0]  
size_after_drop = w_restaurant_df.dropna().shape[0]

# Method 1.5

In [ ]:
w_restaurant_df.isnull().any()

In [ ]:
w_restaurant_df.dropna(subset=['id','name','price_range']).shape

# Method 2 (replace with reasonable value)

we are replacing missing value in the number of chains with 0

แทนค่า missing value ลงใน number of chain

In [ ]:
w_restaurant_df[['numder_of_chains']] = w_restaurant_df[['number_of_chains']].fillna(0)

In [ ]:
w_restaurant_df.isnull().any()

# Method 2.1(replace with reasonable value)

# Method 3

In [ ]:
w_restaurant_df[['name','city_name','avg_price']]

In [ ]:
new_table = w_restaurant_df[['name','city_name','avg_price']]

# [PD] select data

In [ ]:
selected_list = new_table['city_name']=='Bangkok Metropolitan Region'
selected_list

In [ ]:
new_table[selected_list]

In [ ]:
selected_list = new_table['city_name']=='Khon Kaen'
selected_list

In [ ]:
new_table[selected_list].head()

# Ex 9 หาราคาเฉลี่ยร้านในจังหวัดกรุงเทพ

In [ ]:
new_table[new_table['city_name']=='Bangkok Metropolitan Region'].dropna()['avg_price'].mean()

1.เลือกเฉพาะ กทม

In [ ]:
bkk_table = new_table[new_table['city_name']=='Bangkok Metropolitan Region']
bkk_table.head()

2.ลบ missing

In [ ]:
bkk_table_dp = bkk_table.dropna()
bkk_table_dp.head()

3.เลือกเฉพาะ column(ที่เราต้องการ) 'avg_price'

In [ ]:
bkk_table_dp_avg_price = bkk_table_dp['avg_price']
bkk_table_dp_avg_price

4.หาค่าเฉลี่ย

In [ ]:
bkk_table_dp_avg_price.mean()

# แก้ missing method 3 เติมค่าที่เหมาะสมตามกลุ่มของมัน

In [ ]:
bkk_table[['avg_price']] = bkk_table[['avg_price']].fillna(bkk_table_dp_avg_price.mean())
bkk_table.head()

In [ ]:
bkk_table[['avg_price']].fillna(bkk_table_dp_avg_price.mean(),inplace=True)
bkk_table.head()

สร้างตารางเชียงใหม่

In [ ]:
CM_table = new_table[new_table['city_name']=='Chiang Mai']
CM_table.head()

In [ ]:
CM_table_dp = CM_table.dropna()
CM_table_dp.head()

In [ ]:
CM_table_dp_avg_price = CM_table_dp['avg_price']
CM_table_dp_avg_price

In [ ]:
CM_table_dp_avg_price.mean()

In [ ]:
CM_table[['avg_price']] = CM_table[['avg_price']].fillna(CM_table_dp_avg_price.mean())
CM_table.head()

# Ex 9 หาราคาเฉลี่ยร้านในจังหวัดเชี่ยงใหม่

In [ ]:
new_table[new_table['city_name']=='Chiang Mai'].dropna()['avg_price'].mean()

# [PD] ต่อตารางในแนวแกน Y (เพิ่มจำนวน data) pd.concat

cocat คือ เอามารวมกัน

In [ ]:
cm_table = new_table[new_table['city_name']=='Chiang Mai']
cm_table[['avg_price']] = cm_table[['avg_price']].fillna(new_table[new_table['city_name']=='Chiang Mai'].dropna()['avg_price'].mean())
cm_table.head()

In [ ]:
pd_concat = pandas.concat([bkk_table,cm_table])
pd_concat

# Method 3 Looping (concat)

1.ดึงจังหวัดที่มีอยู่ทั้งหมดในตารางออกมา

In [ ]:
all_cities = set(new_table['city_name'])
len(all_cities)

2.คำนวณค่า mean ของ column 'city_name' เพื่อเก็บไว้เติมใส่ เมืองที่เป็น missing ทุกร้าน

In [ ]:
all_mean = new_table.dropna(subset=['avg_price'])['avg_price'].mean()
all_mean

3.สร้าง list ของตารางของทุกๆจังหวัด

In [ ]:
all_cities_list = []
for each_city in list(all_cities):

    # cm_table = new_table[new_table['city_name']=='Chiang Mai']
    # cm_table[['avg_price']] = cm_table[['avg_price']].fillna(new_table[new_table['city_name']=='Chiang Mai'].dropna()['avg_price'].mean())
 
    temp_table = new_table[new_table['city_name']==each_city].copy()
    temp_table[['avg_price']] = temp_table[['avg_price']].fillna(new_table[new_table['city_name']==each_city].dropna()['avg_price'].mean())
    all_cities_list.append(temp_table)

4.สร้างตารางจาก list ของตาราง ด้วย pd.concat

In [ ]:
all_no_missing = pandas.concat(all_cities_list)
all_no_missing

5.เติมค่า mean ของทั้งตารางให้กับจังหวัดที่ไม่มี mean

In [ ]:
all_no_missing = all_no_missing.fillna(all_mean)
all_no_missing.isnull().any()

# Quiz วาด boxplot ของ ค่า 'avg_price' ของตาราง all_no_missing

In [ ]:
from matplotlib import pyplot as plt

In [ ]:
plt.boxplot(all_no_missing['avg_price'],vert=False)

In [ ]:
print(ret['whiskers'][0].get_xdata()[1])
print(ret['whiskers'][1].get_xdata()[1])

In [ ]:
nooutlier_nomissing = all_no_missing[all_no_missing['avg_price']>=ret['whiskers'][0].get_xdata()[1]]
nooutlier_nomissing = nooutlier_nomissing[nooutlier_nomissing['avg_price']<=ret['whiskers'][1].get_xdata()[1]]
nooutlier_nomissing

# merge two tables (.merge())

In [ ]:
merged_table = search_click_df.merge(w_restaurant_df,how='left',left_on='business_id',right_on='id')
merged_table

In [ ]:
search_click_df['bu_name'] = search_click_df['business_id'].map(w_restaurant_df.set_index('id')['name'])
search_click_df

In [ ]:
search_click_df['city'] = search_click_df['business_id'].map(w_restaurant_df.set_index('id')['city_name'])
search_click_df

In [ ]:
search_click_df.groupby('business_id').count()

In [ ]:
search_click_df.groupby('business_id').count().sort_values('click_timestamp')

In [ ]:
w_restaurant_df[w_restaurant_df['id']==182530]

# QUIZ หาจังหวัดที่มีคน click เข้าไปมากที่สุดสามอันดับแรก

In [ ]:
search_click_df.groupby('business_id').count().set_index('id')['city_name'])