<a href="https://colab.research.google.com/github/paweenatoei/KKU_data_mining/blob/master/Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
import pandas as pd
import os

In [16]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [17]:
path = '/content/drive/My Drive/TB_pro'

In [18]:
tmdb_5000_movies = os.path.join(path,'tmdb_5000_movies.csv')

In [19]:
tmdb_5000_movies_df = pd.read_csv(tmdb_5000_movies)
tmdb_5000_movies_df

         budget  ... vote_count
0     237000000  ...      11800
1     300000000  ...       4500
2     245000000  ...       4466
3     250000000  ...       9106
4     260000000  ...       2124
...         ...  ...        ...
4798     220000  ...        238
4799       9000  ...          5
4800          0  ...          6
4801          0  ...          7
4802          0  ...         16

[4803 rows x 20 columns]

In [20]:
tmdb_5000_movies_df.isnull().any()

budget                  False
genres                  False
homepage                 True
movie_id                False
keywords                False
original_language       False
original_title          False
overview                 True
popularity              False
production_companies    False
production_countries    False
release_date             True
revenue                 False
runtime                  True
spoken_languages        False
status                  False
tagline                  True
title                   False
vote_average            False
vote_count              False
dtype: bool

In [21]:
tmdb_5000_credits = os.path.join(path,'tmdb_5000_credits.csv')

In [22]:
tmdb_5000_credits_df = pd.read_csv(tmdb_5000_credits)
tmdb_5000_credits_df

      movie_id  ...                                               crew
0        19995  ...  [{"credit_id": "52fe48009251416c750aca23", "de...
1          285  ...  [{"credit_id": "52fe4232c3a36847f800b579", "de...
2       206647  ...  [{"credit_id": "54805967c3a36829b5002c41", "de...
3        49026  ...  [{"credit_id": "52fe4781c3a36847f81398c3", "de...
4        49529  ...  [{"credit_id": "52fe479ac3a36847f813eaa3", "de...
...        ...  ...                                                ...
4798      9367  ...  [{"credit_id": "52fe44eec3a36847f80b280b", "de...
4799     72766  ...  [{"credit_id": "52fe487dc3a368484e0fb013", "de...
4800    231617  ...  [{"credit_id": "52fe4df3c3a36847f8275ecf", "de...
4801    126186  ...  [{"credit_id": "52fe4ad9c3a368484e16a36b", "de...
4802     25975  ...  [{"credit_id": "58ce021b9251415a390165d9", "de...

[4803 rows x 4 columns]

In [23]:
tmdb_5000_credits_df.isnull().any()

movie_id    False
title       False
cast        False
crew        False
dtype: bool

In [24]:
merge_tb = tmdb_5000_movies_df.merge(tmdb_5000_credits_df,how='left', left_on='movie_id',right_on='movie_id')
merge_tb

         budget  ...                                               crew
0     237000000  ...  [{"credit_id": "52fe48009251416c750aca23", "de...
1     300000000  ...  [{"credit_id": "52fe4232c3a36847f800b579", "de...
2     245000000  ...  [{"credit_id": "54805967c3a36829b5002c41", "de...
3     250000000  ...  [{"credit_id": "52fe4781c3a36847f81398c3", "de...
4     260000000  ...  [{"credit_id": "52fe479ac3a36847f813eaa3", "de...
...         ...  ...                                                ...
4798     220000  ...  [{"credit_id": "52fe44eec3a36847f80b280b", "de...
4799       9000  ...  [{"credit_id": "52fe487dc3a368484e0fb013", "de...
4800          0  ...  [{"credit_id": "52fe4df3c3a36847f8275ecf", "de...
4801          0  ...  [{"credit_id": "52fe4ad9c3a368484e16a36b", "de...
4802          0  ...  [{"credit_id": "58ce021b9251415a390165d9", "de...

[4803 rows x 23 columns]

In [25]:
table = merge_tb.groupby('movie_id')['original_title'].apply(list)
table

movie_id
5                          [Four Rooms]
11                          [Star Wars]
12                       [Finding Nemo]
13                       [Forrest Gump]
14                    [American Beauty]
                      ...
426067               [Midnight Cabaret]
426469               [Growing Up Smith]
433715                         [8 Days]
447027                [Running Forever]
459488    [To Be Frank, Sinatra at 100]
Name: original_title, Length: 4803, dtype: object

In [26]:
!pip install apyori

Collecting apyori
  Downloading https://files.pythonhosted.org/packages/5e/62/5ffde5c473ea4b033490617ec5caa80d59804875ad3c3c57c0976533a21a/apyori-1.1.2.tar.gz
Building wheels for collected packages: apyori
  Building wheel for apyori (setup.py) ... done
  Created wheel for apyori: filename=apyori-1.1.2-cp36-none-any.whl size=5975 sha256=3716a6c0064d888b71083904d69719d2745a373e8d2bf43df0425cfaf4d76f72
  Stored in directory: /root/.cache/pip/wheels/5d/92/bb/474bbadbc8c0062b9eb168f69982a0443263f8ab1711a8cad0
Successfully built apyori
Installing collected packages: apyori
Successfully installed apyori-1.1.2

In [27]:
from apyori import apriori

In [28]:
list(apriori(table, min_support = 0.3 , min_confidence = 0.8))

[]